@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



body {
    font-family: 'Alata', sans-serif;
}
.btn {
    text-transform: unset !important;
    font-family: 'Bree Serif', serif;
    
  }
  h2{
    font-family: 'Cinzel', serif;
    font-weight: 600!important;
  }
  h5{
    font-family: 'Bree Serif', serif;
    color:#1c2a48;
  }
  