@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');




body {
    font-family: 'Alata', sans-serif;
}
.btn {
    text-transform: unset !important;
    font-family: 'Bree Serif', serif;
    
  }
  h2{
    font-family: 'Cinzel', serif;
    font-weight: 600!important;
  }
  h5{
    font-family: 'Bree Serif', serif;
    color:#1c2a48;
  }

  .end{
    font-size: 10px;
  }
  .quote{
    font-family: 'Bree Serif', serif;
    color:#1c2a48;
    font-size: 18px;
  }
  .cover{
    
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.89), rgba(1, 70, 102, 0.637)),url("https://i.ibb.co/YbjJsQc/cover.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  }
  .track{
    background-color:rgba(0, 150, 136, 0.1) ;
  }
  .lyric{
    font-family: 'Bree Serif', serif;
    color:black;
    background-color:rgba(0, 150, 136, 0.1) ;
  }